@import '../Variables/Variables.scss';

.login {
    font-weight: 300;
    width: calc(100% - 2em);
    margin: 70px 1em;
    display: grid;

    form {
        color: $mainBgColor;

        label {
            color: $mainColor;
        }

        input[type=text] {
            display: block;
            width: 100%;
        }

        .subtext {
            text-transform: lowercase;
            opacity: .6;
        }
    }


    button {
        color: $mainColor;
        // background-color: hsl(0, 0%, 8%);
        background-color: transparent;
        padding-block: 1em;
        text-transform: uppercase;
        font-family: inherit;
        font-weight: inherit;
        border-radius: 0;
        outline: none;
        border: none;

        &:hover {
            background-color: hsl(0, 0%, 6%);
            color: hsl(227, 100%, 85%);
        }
    }

    .form-container {
        background-color: #141414;
        width: 100%;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-evenly;

            li {
                border: 1px solid $mainColor;
                padding: 10px;
                border-radius: 50%;

                a {
                    color: $mainColor;
                    text-decoration: none;
                }
            }
        }

        .or-container {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            opacity: .5;

            hr {
                display: block;
                width: 100%;
            }

            p {
                padding: 1em;
            }

            &>* {
                place-self: center;
                color: $mainColor;
            }
        }
    }

    .login-tab-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .active {
            background-color: hsl(0, 0%, 8%);

            &:hover {
                background-color: hsl(0, 0%, 6%);
                color: hsl(227, 100%, 85%);
            }
        }
    }

    .centered-btn {
        width: fit-content;
        background-color: transparent;
        margin: auto;

        &:hover {
            background-color: transparent;
            color: hsl(227, 100%, 85%);
        }
    }
}