@import '../Variables/Variables.scss';

.logoElement {
    border: 1px solid $mainColor;
    color: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 38px;
        width: 38px;
        object-fit: contain;
    }

    h1 {
        font-size: 64px;
    }

    .logo {
        height: 40px;
        aspect-ratio: 1;
        background-color: $mainColor;
        mask-image: url(../images/running-man.svg);
        mask-repeat: no-repeat;
    }
}