@import '../Variables/Variables.scss';

.timer {
    border: 1px solid purple;
    display: grid;
    align-self: center;


    .progress-bar {
        width: 0px;
        height: 20px;
        background-color: #829dff;
        transition: 250ms;
    }
}