@import '../Variables/Variables.scss';

.timer {
    border: 1px solid purple;
    display: grid;
    align-self: center;

    button {
        aspect-ratio: 1;
        width: 3em;
        margin: auto;
        background-color: transparent;
        color: $mainColor;
        border: 1px solid $mainColor;
        border-radius: 50%;
    }

    .timer-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &>:nth-child(3) {
            grid-column: 1 / 3;
            font-size: 4em;
            margin: auto;
            width: 100%;
        }
    }

    .progress-bar {
        width: 0px;
        height: 20px;
        background-color: $mainColor;
        transition: 250ms;
    }
}